body {
    margin: 0;
}

header {
    background-color: pink;
}

.container-fluid {
    background-color: rgb(16, 5, 76);
    margin: auto;

}

.card {
    background-color: rgb(17, 139, 170);
}

.card img{
    margin: auto;
    margin-top: 6px;
    width: 97%;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.7s;

}


/* Kelimelerin altındaki çizgiyi silmek*/
a{
    text-decoration: none;
}
.card-title{
    font-size: 32px;
    margin: 1px 0;
    color: black;
}
.card-text{
    font-size: 24;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}







/*SİLİNECCEK*/
.btn{
    background-color: slateblue;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, .3);
    cursor: pointer;
}



.container-fluid{
    text-align: center;
    transition: filter 0.7s;
    
}

.active.container-fluid{
    filter: blur(5px) brightness(.7);

}

.popup-container{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    width: 600px;
    height: 400px;
    top: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.7s;

    font-size: 12px;

}

.active.popup-container{
    visibility: hidden;
    opacity: 0;
    top: 10%
}

.close-icon{
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.close-icon:hover{
    color: orangered;
}



/*CARDALRA TIKLANINCA AÇILAN PENCEREYE SCROLL BAR EKLEME*/
div.tab-content {
    overflow-y: scroll;
    max-height: 300px; /* Yüksekliği sabit bir değer olarak ayarlayabilirsiniz */
 }
 
 ::-webkit-scrollbar {
    width: 8px;
 }
 
 ::-webkit-scrollbar-track {
    background-color: #f5f5f5;
 }
 
 ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
 }
 
 ::-webkit-scrollbar-thumb:hover {
    background-color: #999;
 }
 